<div style="position: relative; height: 100vh ; padding: 0; margin: 0; ">
<div id="container">
    <video id="background_video" loop muted></video>
    <div id="video_cover"></div>
    <div id="overlay"></div>

    <div id="video_controls">
      <span id="play">
        <img src="images/play_circle_filled_black_24dp.svg">
      </span>
      <span id="pause">
        <img src="images/pause_circle_black_24dp.svg">
      </span>
</div>

<section id="main_content">
  <div id="head">
    <h1>SpaceWatch.</h1>
    <p class="sub_head">Watch a specific location from space.</p>
    <div id="links">
      <a href="https://www.linkedin.com/in/tristan-varewijck-056910128/">Dev LinkedIn</a>
      <a href="#main-container">Watch from Space</a>
    </div>
  </div>
</section>
</div>
</div>